<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bt.lmis.dao.NvitationUseanmountDataGroupdetailMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.bt.lmis.model.NvitationUseanmountDataGroupdetail" >
	<result column="id" property="id"/>
	<result column="create_time" property="create_time"/>
	<result column="create_user" property="create_user"/>
	<result column="update_time" property="update_time"/>
	<result column="update_user" property="update_user"/>
	<result column="contract_id" property="contract_id"/>
	<result column="billing_cycle" property="billing_cycle"/>
	<result column="sku_code" property="sku_code"/>
	<result column="sku_name" property="sku_name"/>
	<result column="sku_type" property="sku_type"/>
	<result column="qty" property="qty"/>
	<result column="qty_unit" property="qty_unit"/>
	<result column="price" property="price"/>
	<result column="price_unit" property="price_unit"/>
	<result column="total_amount" property="total_amount"/>
	<result column="totalamount_unit" property="totalamount_unit"/>
</resultMap>
       
<!-- tb_invitation_useanmount_data_groupdetail table all fields -->
<sql id="Base_Column_List" >
	 id,create_time,create_user,update_time,update_user,contract_id,billing_cycle,sku_code,sku_name,sku_type,qty,qty_unit,price,price_unit,total_amount,totalamount_unit
</sql>
   
   
<!-- 查询条件 -->
<sql id="where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="create_time != null" >
	    and create_time =  #{create_time}
	</if>
	 	<if test="create_user != null and create_user != ''" >
	    and create_user =  #{create_user}
	</if>
	<if test="update_time != null" >
	    and update_time =  #{update_time}
	</if>
	 	<if test="update_user != null and update_user != ''" >
	    and update_user =  #{update_user}
	</if>
	<if test="contract_id != null" >
	    and contract_id =  #{contract_id}
	</if>
	<if test="billing_cycle != null" >
	    and billing_cycle =  #{billing_cycle}
	</if>
	 	<if test="sku_code != null and sku_code != ''" >
	    and sku_code =  #{sku_code}
	</if>
	 	<if test="sku_name != null and sku_name != ''" >
	    and sku_name =  #{sku_name}
	</if>
	 	<if test="sku_type != null and sku_type != ''" >
	    and sku_type =  #{sku_type}
	</if>
	<if test="qty != null" >
	    and qty =  #{qty}
	</if>
	 	<if test="qty_unit != null and qty_unit != ''" >
	    and qty_unit =  #{qty_unit}
	</if>
	<if test="price != null" >
	    and price =  #{price}
	</if>
	 	<if test="price_unit != null and price_unit != ''" >
	    and price_unit =  #{price_unit}
	</if>
	<if test="total_amount != null" >
	    and total_amount =  #{total_amount}
	</if>
	 	<if test="totalamount_unit != null and totalamount_unit != ''" >
	    and totalamount_unit =  #{totalamount_unit}
	</if>
</trim>
</sql>
   

<!-- 插入耗材数据汇总明细 -->
<insert id="insert" parameterType="com.bt.lmis.model.NvitationUseanmountDataGroupdetail" >
  insert into tb_invitation_useanmount_data_groupdetail(id,create_time,create_user,update_time,update_user,contract_id,billing_cycle,sku_code,sku_name,sku_type,qty,qty_unit,price,price_unit,total_amount,totalamount_unit)
 values(#{id},#{create_time},#{create_user},#{update_time},#{update_user},#{contract_id},#{billing_cycle},#{sku_code},#{sku_name},#{sku_type},#{qty},#{qty_unit},#{price},#{price_unit},#{total_amount},#{totalamount_unit})
</insert>

<!-- 修改耗材数据汇总明细-->  
 <update id="update" parameterType="com.bt.lmis.model.NvitationUseanmountDataGroupdetail" >
  update tb_invitation_useanmount_data_groupdetail set create_time=#{create_time},create_user=#{create_user},update_time=#{update_time},update_user=#{update_user},contract_id=#{contract_id},billing_cycle=#{billing_cycle},sku_code=#{sku_code},sku_name=#{sku_name},sku_type=#{sku_type},qty=#{qty},qty_unit=#{qty_unit},price=#{price},price_unit=#{price_unit},total_amount=#{total_amount},totalamount_unit=#{totalamount_unit} where id=#{id}
 </update>
 
 <!-- 选择修改耗材数据汇总明细-->
<update id="updateBySelective" parameterType="com.bt.lmis.model.NvitationUseanmountDataGroupdetail" >
	update tb_invitation_useanmount_data_groupdetail set 
	<trim  suffixOverrides="," >
	<if test="create_time != null  ">
		create_time=#{create_time},
	</if>
	<if test="create_user != null  and create_user != '' ">
		create_user=#{create_user},
	</if>
	<if test="update_time != null  ">
		update_time=#{update_time},
	</if>
	<if test="update_user != null  and update_user != '' ">
		update_user=#{update_user},
	</if>
	<if test="contract_id != null  ">
		contract_id=#{contract_id},
	</if>
	<if test="billing_cycle != null  ">
		billing_cycle=#{billing_cycle},
	</if>
	<if test="sku_code != null  and sku_code != '' ">
		sku_code=#{sku_code},
	</if>
	<if test="sku_name != null  and sku_name != '' ">
		sku_name=#{sku_name},
	</if>
	<if test="sku_type != null  and sku_type != '' ">
		sku_type=#{sku_type},
	</if>
	<if test="qty != null  ">
		qty=#{qty},
	</if>
	<if test="qty_unit != null  and qty_unit != '' ">
		qty_unit=#{qty_unit},
	</if>
	<if test="price != null  ">
		price=#{price},
	</if>
	<if test="price_unit != null  and price_unit != '' ">
		price_unit=#{price_unit},
	</if>
	<if test="total_amount != null  ">
		total_amount=#{total_amount},
	</if>
	<if test="totalamount_unit != null  and totalamount_unit != '' ">
		totalamount_unit=#{totalamount_unit},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除耗材数据汇总明细 -->
<update id="delete" parameterType="Object">
	delete 	 from tb_invitation_useanmount_data_groupdetail where id = #{id}
</update>
<!-- 批量删除耗材数据汇总明细 -->
<delete id="batchDelete" parameterType="Object">
	delete 	 from tb_invitation_useanmount_data_groupdetail where id in 
	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
       	#{item}  
   	</foreach> 
</delete>
 
<!-- 依据主键查找耗材数据汇总明细 -->
<select id="selectById"  resultMap="BaseResultMap" >
	select <include refid="Base_Column_List" /> 
	 from tb_invitation_useanmount_data_groupdetail where id = #{id}
</select>
  	
<!-- 耗材数据汇总明细 列表总数  为分页组件使用-->
<select id="pageTotalRecord" resultType="java.lang.Long"  parameterType="com.bt.lmis.controller.form.NvitationUseanmountDataGroupdetailQueryParam">
	select count(1) from tb_invitation_useanmount_data_groupdetail 
	<include refid="where_Clause"/>
</select>
  	
<!-- 分页中的耗材数据汇总明细集合，为分页组件使用 -->
<select id="pageData" resultMap="BaseResultMap"  parameterType="com.bt.lmis.controller.form.NvitationUseanmountDataGroupdetailQueryParam">
	select 
	<include refid="Base_Column_List"/>
	from tb_invitation_useanmount_data_groupdetail 
	<include refid="where_Clause"/>
	<if test="orderCondition != null and orderCondition != ''" >
      ${orderCondition}
    </if>
    ${queryCondition}
</select>


<!--依据条件统计 耗材数据汇总明细总数-->
<select id="count" resultType="java.lang.Long"  parameterType="com.bt.lmis.controller.form.NvitationUseanmountDataGroupdetailQueryParam">
	select count(1) from tb_invitation_useanmount_data_groupdetail 
	<include refid="where_Clause"/>
</select>
  	
<!-- 满足条件的耗材数据汇总明细集合 -->
<select id="findAll" resultMap="BaseResultMap"  parameterType="com.bt.lmis.controller.form.NvitationUseanmountDataGroupdetailQueryParam">
	select 
	<include refid="Base_Column_List"/>
	from tb_invitation_useanmount_data_groupdetail 
	<include refid="where_Clause"/>
	<if test="orderCondition != null and orderCondition != ''" >
     ${orderCondition}
    </if>
</select>

<select id="findByCBID" resultMap="BaseResultMap"  parameterType="Object">
	select 
		<include refid="Base_Column_List"/>
	from tb_invitation_useanmount_data_groupdetail 
	where contract_id=#{cbid}
</select>  
<delete id='delete_by_condition'  parameterType="com.bt.lmis.controller.form.NvitationUseanmountDataGroupdetailQueryParam">
delete from  tb_invitation_useanmount_data_groupdetail where
<if test="contract_id != null and contract_id != ''" >
     contract_id= #{contract_id}
    </if>
<if test="billing_cycle != null and billing_cycle != ''" >
  and  billing_cycle= #{billing_cycle}
    </if>
</delete>

</mapper>   
