<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lmis.sys.role.dao.SysRoleMapper">
	<resultMap type="com.lmis.framework.baseModel.PersistentObject" id="PersistentObjectMap">
		<!-- 基类字段（必须存在） -->
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="BOOLEAN" />
		<result column="is_disabled" property="isDisabled" jdbcType="BOOLEAN" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="pwr_org" property="pwrOrg" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.lmis.sys.role.model.SysRole" id="SysRoleMap" extends="PersistentObjectMap">
		<!-- 子类字段 -->
		<result column="role_id" property="roleId" jdbcType="VARCHAR" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="role_remark" property="roleRemark" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.lmis.sys.role.model.ViewSysRole" id="ViewSysRoleMap">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="BOOLEAN" />
		<result column="is_disabled" property="isDisabled" jdbcType="BOOLEAN" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="pwr_org" property="pwrOrg" jdbcType="VARCHAR" />
		<result column="pwr_org_name" property="pwrOrgName" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="VARCHAR" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="role_remark" property="roleRemark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,
		create_time,
		create_by,
		update_time,
		update_by,
		is_deleted,
		is_disabled,
		version,
		pwr_org,
		role_id,
		role_name,
		role_remark
	</sql>
	
	<sql id="ViewSysRole_Column_List">
		id,
		create_time,
		create_by,
		create_user_name,
		update_time,
		update_by,
		update_user_name,
		is_deleted,
		is_disabled,
		version,
		pwr_org,
		pwr_org_name,
		role_id,
		role_name,
		role_remark
	</sql>
	
	<sql id="Create_Column_List">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			create_time,
			create_by,
			update_time,
			update_by,
			is_deleted,
			is_disabled,
			version,
			pwr_org,
			role_id,
			role_name,
			role_remark
		</trim>
	</sql>
	<insert id="create" parameterType="com.lmis.sys.role.model.SysRole">
		INSERT INTO sys_role
		<include refid="Create_Column_List"></include>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			UUID(),
			NOW(),
			#{createBy, jdbcType=VARCHAR},
			NOW(),
			#{createBy, jdbcType=VARCHAR},
			false,
			false,
			1,
			#{pwrOrg, jdbcType=VARCHAR},
			#{roleId, jdbcType=VARCHAR},
			#{roleName, jdbcType=VARCHAR},
			#{roleRemark, jdbcType=VARCHAR},
		</trim>
	</insert>
	<insert id="createBatch" parameterType="java.util.List">
		INSERT INTO sys_role
		<include refid="Create_Column_List"></include>
		VALUES
		<foreach collection="list" item="obj" index="index" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				UUID(),
				NOW(),
				#{obj.createBy, jdbcType=VARCHAR},
				NOW(),
				#{obj.createBy, jdbcType=VARCHAR},
				false,
				false,
				1,
				#{obj.pwrOrg, jdbcType=VARCHAR},
				#{obj.roleId, jdbcType=VARCHAR},
				#{obj.roleName, jdbcType=VARCHAR},
				#{obj.roleRemark, jdbcType=VARCHAR},
			</trim>
		</foreach>
	</insert>
	<select id="retrieve" parameterType="com.lmis.sys.role.model.SysRole" resultMap="SysRoleMap">
		SELECT <include refid="Base_Column_List" /> FROM sys_role
		<trim prefix="WHERE" prefixOverrides="AND|OR">
	        <if test="id!=null and id!=''">
	            AND id = #{id, jdbcType=VARCHAR}
	        </if>
	        <if test="createTime!=null">
	            AND create_time = #{createTime, jdbcType=TIMESTAMP}
	        </if>
	        <if test="createBy!=null and createBy!=''">
	            AND create_by = #{createBy, jdbcType=VARCHAR}
	        </if>
	        <if test="updateTime!=null">
	            AND update_time = #{updateTime, jdbcType=TIMESTAMP}
	        </if>
	        <if test="updateBy!=null and updateBy!=''">
	            AND update_by = #{updateBy, jdbcType=VARCHAR}
	        </if>
	        <if test="isDeleted!=null">
	            AND is_deleted = #{isDeleted, jdbcType=BOOLEAN}
	        </if>
	        <if test="isDisabled!=null">
	            AND is_disabled = #{isDisabled, jdbcType=BOOLEAN}
	        </if>
	        <if test="version!=null">
	            AND version = #{version, jdbcType=INTEGER}
	        </if>
	        <if test="pwrOrg!=null and pwrOrg!=''">
	            AND pwr_org = #{pwrOrg, jdbcType=VARCHAR}
	        </if>
	        <if test="roleId!=null and roleId!=''">
	            AND role_id = #{roleId, jdbcType=VARCHAR}
	        </if>
	        <if test="roleName!=null and roleName!=''">
	            AND role_name = #{roleName, jdbcType=VARCHAR}
	        </if>
	        <if test="roleRemark!=null and roleRemark!=''">
	            AND role_remark = #{roleRemark, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</select>
	
	<select id="retrieveViewSysRole" parameterType="com.lmis.sys.role.model.ViewSysRole" resultMap="ViewSysRoleMap">
		SELECT <include refid="ViewSysRole_Column_List" /> FROM view_sys_role
		<trim prefix="WHERE" prefixOverrides="AND|OR">
	        <if test="id!=null and id!=''">
	            AND id = #{id, jdbcType=VARCHAR}
	        </if>
	        <if test="createTime!=null">
	            AND create_time = #{createTime, jdbcType=TIMESTAMP}
	        </if>
	        <if test="createBy!=null and createBy!=''">
	            AND create_by = #{createBy, jdbcType=VARCHAR}
	        </if>
	        <if test="createUserName!=null and createUserName!=''">
	            AND create_user_name = #{createUserName, jdbcType=VARCHAR}
	        </if>
	        <if test="updateTime!=null">
	            AND update_time = #{updateTime, jdbcType=TIMESTAMP}
	        </if>
	        <if test="updateBy!=null and updateBy!=''">
	            AND update_by = #{updateBy, jdbcType=VARCHAR}
	        </if>
	        <if test="updateUserName!=null and updateUserName!=''">
	            AND update_user_name = #{updateUserName, jdbcType=VARCHAR}
	        </if>
	        <if test="isDeleted!=null">
	            AND is_deleted = #{isDeleted, jdbcType=BOOLEAN}
	        </if>
	        <if test="isDisabled!=null">
	            AND is_disabled = #{isDisabled, jdbcType=BOOLEAN}
	        </if>
	        <if test="version!=null">
	            AND version = #{version, jdbcType=INTEGER}
	        </if>
	        <if test="pwrOrg!=null and pwrOrg!=''">
	            AND pwr_org = #{pwrOrg, jdbcType=VARCHAR}
	        </if>
	        <if test="pwrOrgName!=null and pwrOrgName!=''">
	            AND pwr_org_name = #{pwrOrgName, jdbcType=VARCHAR}
	        </if>
	        <if test="roleId!=null and roleId!=''">
	            AND role_id = #{roleId, jdbcType=VARCHAR}
	        </if>
	        <if test="roleName!=null and roleName!=''">
	            AND role_name = #{roleName, jdbcType=VARCHAR}
	        </if>
	        <if test="roleRemark!=null and roleRemark!=''">
	            AND role_remark = #{roleRemark, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</select>
	
	<update id="update" parameterType="com.lmis.sys.role.model.SysRole">
		UPDATE sys_role
		<trim prefix="SET" suffixOverrides=",">
			update_time = NOW(),
	        update_by = #{updateBy, jdbcType=VARCHAR},
	        <if test="isDeleted!=null">
	            is_deleted = #{isDeleted, jdbcType=BOOLEAN},
	        </if>
	        <if test="isDisabled!=null">
	            is_disabled = #{isDisabled, jdbcType=BOOLEAN},
	        </if>
	        <if test="version!=null">
        		version = version + 1,
        	</if>
	        <if test="roleId!=null and roleId!=''">
	            role_id = #{roleId, jdbcType=VARCHAR},
	        </if>
	        <if test="roleName!=null and roleName!=''">
	            role_name = #{roleName, jdbcType=VARCHAR},
	        </if>
	        <if test="roleRemark!=null and roleRemark!=''">
	            role_remark = #{roleRemark, jdbcType=VARCHAR},
	        </if>
	    </trim>
	    <trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="version!=null">
		    	AND version = #{version, jdbcType=INTEGER}
		    </if>
		    <if test="roleId!=null and roleId!=''">
	        	AND role_id = #{roleId, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</update>
	<update id="updateRecord" parameterType="com.lmis.sys.role.model.SysRole">
		UPDATE sys_role
		<trim prefix="SET" suffixOverrides=",">
			update_time = NOW(),
	        update_by = #{updateBy, jdbcType=VARCHAR},
	        <if test="version!=null">
        		version = version + 1,
        	</if>
        	role_id = #{roleId, jdbcType=VARCHAR},
        	role_name = #{roleName, jdbcType=VARCHAR},
        	role_remark = #{roleRemark, jdbcType=VARCHAR},
	    </trim>
	    <trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="version!=null">
		    	AND version = #{version, jdbcType=INTEGER}
		    </if>
		    <if test="roleId!=null and roleId!=''">
	        	AND role_id = #{roleId, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</update>
	<update id="logicalDelete" parameterType="com.lmis.sys.role.model.SysRole">
		UPDATE sys_role
		<trim prefix="SET" suffixOverrides=",">
			update_time = NOW(),
	        update_by = #{updateBy, jdbcType=VARCHAR},
	        is_deleted = true,
	        <if test="version!=null">
	        	version = version + 1,
	        </if>
	    </trim>
	    <trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="version!=null">
	    		AND version = #{version, jdbcType=INTEGER}
	    	</if>
		    <if test="roleId!=null and roleId!=''">
	        	AND role_id = #{roleId, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</update>
	<update id="shiftValidity" parameterType="com.lmis.sys.role.model.SysRole">
		UPDATE sys_role
		<trim prefix="SET" suffixOverrides=",">
			update_time = NOW(),
	        update_by = #{updateBy, jdbcType=VARCHAR},
	        <if test="isDisabled!=null">
	        	is_disabled = #{isDisabled, jdbcType=BOOLEAN},
	        </if>
	        <if test="version!=null">
	        	version = version + 1,
	        </if>
	    </trim>
	    <trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="version!=null">
		    	AND version = #{version, jdbcType=INTEGER}
		    </if>
		    <if test="roleId!=null and roleId!=''">
	        	AND role_id = #{roleId, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</update>
	<delete id="delete" parameterType="com.lmis.sys.role.model.SysRole">
		DELETE FROM sys_role
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="roleId!=null and roleId!=''">
	        	AND role_id = #{roleId, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</delete>
</mapper>
