<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lmis.setup.page.dao.SetupPageMapper">
	<resultMap type="com.lmis.framework.baseModel.PersistentObject" id="PersistentObjectMap">
		<!-- 基类字段（必须存在） -->
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="BOOLEAN" />
		<result column="is_disabled" property="isDisabled" jdbcType="BOOLEAN" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="pwr_org" property="pwrOrg" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.lmis.setup.page.model.SetupPage" id="SetupPageMap" extends="PersistentObjectMap">
		<!-- 子类字段 -->
		<result column="page_id" property="pageId" jdbcType="VARCHAR" />
		<result column="page_name" property="pageName" jdbcType="VARCHAR" />
		<result column="page_width" property="pageWidth" jdbcType="VARCHAR" />
		<result column="page_height" property="pageHeight" jdbcType="VARCHAR" />
		<result column="page_type" property="pageType" jdbcType="VARCHAR" />
		<result column="parent_page_id" property="parentPageId" jdbcType="VARCHAR" />
		<result column="page_url" property="pageUrl" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.lmis.setup.page.model.ViewSetupPage" id="ViewSetupPageMap">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="BOOLEAN" />
		<result column="is_disabled" property="isDisabled" jdbcType="BOOLEAN" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="pwr_org" property="pwrOrg" jdbcType="VARCHAR" />
		<result column="page_id" property="pageId" jdbcType="VARCHAR" />
		<result column="page_name" property="pageName" jdbcType="VARCHAR" />
		<result column="page_width" property="pageWidth" jdbcType="VARCHAR" />
		<result column="page_height" property="pageHeight" jdbcType="VARCHAR" />
		<result column="page_type" property="pageType" jdbcType="VARCHAR" />
		<result column="parent_page_id" property="parentPageId" jdbcType="VARCHAR" />
		<result column="page_url" property="pageUrl" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,
		create_time,
		create_by,
		update_time,
		update_by,
		is_deleted,
		is_disabled,
		version,
		pwr_org,
		page_id,
		page_name,
		page_width,
		page_height,
		page_type,
		parent_page_id,
		page_url
	</sql>
	<sql id="View_Setup_Page_Column_List">
		id,
		create_time,
		create_by,
		update_time,
		update_by,
		is_deleted,
		is_disabled,
		version,
		pwr_org,
		page_id,
		page_name,
		page_width,
		page_height,
		page_type,
		parent_page_id,
		page_url
	</sql>
	<select id="retrieve" parameterType="com.lmis.setup.page.model.SetupPage" resultMap="SetupPageMap">
		SELECT <include refid="Base_Column_List" /> FROM setup_page
		<trim prefix="WHERE" prefixOverrides="AND|OR">
	        <if test="id!=null and id!=''">
	            id = #{id, jdbcType=VARCHAR}
	        </if>
	        <if test="createBy!=null and createBy!=''">
	        	AND create_by = #{createBy, jdbcType=VARCHAR}
	        </if>
	        <if test="updateBy!=null and updateBy!=''">
	        	AND update_by = #{updateBy, jdbcType=VARCHAR}
	        </if>
	        <if test="isDeleted!=null">
	            AND is_deleted = #{isDeleted, jdbcType=BOOLEAN}
	        </if>
	        <if test="isDisabled!=null">
	            AND is_disabled = #{isDisabled, jdbcType=BOOLEAN}
	        </if>
	        <if test="pwrOrg!=null and pwrOrg!=''">
	        	AND pwr_org = #{pwrOrg, jdbcType=VARCHAR}
	        </if>
	        <if test="pageId!=null and pageId!=''">
	            AND page_id = #{pageId, jdbcType=VARCHAR}
	        </if>
	        <if test="pageName!=null and pageName!=''">
	            AND page_name = #{pageName, jdbcType=VARCHAR}
	        </if>	        
	        <if test="pageWidth!=null and pageWidth!=''">
	            AND page_width = #{pageWidth, jdbcType=VARCHAR}
	        </if>
	        <if test="pageHeight!=null and pageHeight!=''">
	            AND page_height = #{pageHeight, jdbcType=VARCHAR}
	        </if>
	        <if test="pageType!=null and pageType!=''">
	            AND page_type = #{pageType, jdbcType=VARCHAR}
	        </if>
	        <if test="parentPageId!=null and parentPageId!=''">
	            AND parent_page_id = #{parentPageId, jdbcType=VARCHAR}
	        </if>
	        <if test="pageUrl!=null and pageUrl!=''">
	            AND page_url = #{pageUrl, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</select>
	<update id="logicalDelete" parameterType="com.lmis.setup.page.model.SetupPage">
		UPDATE setup_page
		<trim prefix="SET" suffixOverrides=",">
			update_time = NOW(),
	        update_by = #{updateBy, jdbcType=VARCHAR},
	        is_deleted = true,
	        <if test="version!=null">
	        	version = version + 1,
	        </if>
	    </trim>
	    <trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="version!=null">
	    		AND version = #{version, jdbcType=INTEGER}
	    	</if>
		    <if test="pageId!=null and pageId!=''">
		    	AND page_id = #{pageId, jdbcType=VARCHAR}
		    </if>
	    </trim>
	</update>
	<select id="retrieveViewSetupPage" parameterType="com.lmis.setup.page.model.ViewSetupPage" resultMap="ViewSetupPageMap">
		SELECT <include refid="View_Setup_Page_Column_List" /> FROM view_setup_page
		<trim prefix="WHERE" prefixOverrides="AND|OR">
	        <if test="id!=null and id!=''">
	            id = #{id, jdbcType=VARCHAR}
	        </if>
	        <if test="createBy!=null and createBy!=''">
	        	AND create_by = #{createBy, jdbcType=VARCHAR}
	        </if>
	        <if test="updateBy!=null and updateBy!=''">
	        	AND update_by = #{updateBy, jdbcType=VARCHAR}
	        </if>
	        <if test="isDeleted!=null">
	            AND is_deleted = #{isDeleted, jdbcType=BOOLEAN}
	        </if>
	        <if test="isDisabled!=null">
	            AND is_disabled = #{isDisabled, jdbcType=BOOLEAN}
	        </if>
	        <if test="pwrOrg!=null and pwrOrg!=''">
	        	AND pwr_org = #{pwrOrg, jdbcType=VARCHAR}
	        </if>
	        <if test="pageId!=null and pageId!=''">
	            AND page_id = #{pageId, jdbcType=VARCHAR}
	        </if>
	        <if test="pageName!=null and pageName!=''">
	            AND page_name = #{pageName, jdbcType=VARCHAR}
	        </if>	        
	        <if test="pageWidth!=null and pageWidth!=''">
	            AND page_width = #{pageWidth, jdbcType=VARCHAR}
	        </if>
	        <if test="pageHeight!=null and pageHeight!=''">
	            AND page_height = #{pageHeight, jdbcType=VARCHAR}
	        </if>
	        <if test="pageType!=null and pageType!=''">
	            AND page_type = #{pageType, jdbcType=VARCHAR}
	        </if>
	        <if test="parentPageId!=null and parentPageId!=''">
	            AND parent_page_id = #{parentPageId, jdbcType=VARCHAR}
	        </if>
	        <if test="pageUrl!=null and pageUrl!=''">
	            AND page_url = #{pageUrl, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</select>
</mapper>