<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <display-name>WMSPlatform</display-name>  
  <!-- Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:loxia-hibernate-context.xml,
			classpath*:loxia-service-context.xml,
			classpath*:message-listener-context.xml,
			classpath*:spring-baozun-mongo.xml,						
			classpath*:spring.xml
		</param-value>
	</context-param>		

	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
	    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
	    <listener-class>com.jumbo.web.InitServletContextListener</listener-class>
	</listener>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	
	<jsp-config> 
      <jsp-property-group> 
        <url-pattern>*.jsp</url-pattern> 
        <!-- <el-ignored>true</el-ignored> --> 
      </jsp-property-group> 
    </jsp-config> 
	
	<!-- Welcome files -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
