<?xml version="1.0" encoding="utf-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">
	
	<!--producerGroup 生产者组 -->
	<!--namesrvAddr  命名服务器地址，多个采用分号分隔-->
	<!--producerInstanceName  生产者实例对象-->
	
	<bean id="producer" class="com.baozun.scm.baseservice.message.rocketmq.service.init.RocketMQProducerInit" init-method="init" destroy-method="destroy" >
		<property name="producerGroup" value="producer_group1" />
		<property name="namesrvAddr" value="${producerSubscribe.namesrvAddr}"/>
		<property name="producerInstanceName" value="producerServer" />
	</bean>
	<!--consumerGroup 消费者群组  -->
	<!--namesrvAddr 命名服务器地址,多个采用分号分隔  -->
	<!--consumerInstanceName  消费者实例对象(若一台服务器上启动多个消费者，建议将实例区分开)-->
	<!--subscription  -->
		<!-- 多个订阅主题使用json格式 eg: {'test':'baozun || test_tag','key':'value'}-->
		<!-- 如果无二级标签，因符合json key:value格式，所以配置如：'three':'*' -->
	<!--threadMin 消费者开启线程数-->
	<!--threadMax 消费者开启线程数-->
	<!--consumeMessageBatchMaxSize  单次拉取最大消息量-->
	<!--consumeFromWhere  消费起始位置-->
	<!--messageHandler  业务处理类集合-->
	<!-- 	'wms32hub_sale_outbount':'oms||pac' -->
	<!-- <bean id="consumer" class="com.baozun.scm.baseservice.message.rocketmq.service.init.RocketMQConcurrentlyConsumerInit" init-method="init" destroy-method="destroy">
		<property name="consumerGroup" value="wms3_group1" />
		<property name="namesrvAddr" value="${consumer.namesrvAddr}"/>
		<property name="consumerInstanceName" value="consumerServer1" />
		<property name="subscription" value="{${mq.hub2wms3.salesorder.notify}:'*',${mq.wms3.mq.rtn.outbount.yh} :'*',${mq.wms3.mq.rtn.outbount.lf}:'*',${mq.pac.wms.queue}:'*',${mq.wms3.test.order}:'*',${mq.wms3.create.sta.oms}:'*',${mq.wms3.create.sta.pac}:'*',${mq.pacs2wms3.createSta.request}:'*'}" />
		<property name="threadMin" value="50"/>
		<property name="threadMax" value="50"/>
		<property name="consumeMessageBatchMaxSize" value="120" />
		<property name="consumeFromWhere" value="CONSUME_FROM_LAST_OFFSET"/>
		<property name="messageHandler" ref="messageHandler" />
	</bean> -->
    <import resource="spring-message-handle.xml"/>
</beans>