<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bt.lmis.dao.AreaMapper" > 
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.bt.lmis.model.Area" >
		<result column="id" property="id"/>
		<result column="create_time" property="create_time"/>
		<result column="create_user" property="create_user"/>
		<result column="update_time" property="update_time"/>
		<result column="update_user" property="update_user"/>
		<result column="area_code" property="area_code"/>
		<result column="area_name" property="area_name"/>
		<result column="level" property="level"/>
		<result column="pid" property="pid"/>
		<result column="haschild" property="haschild"/>
	</resultMap>
	       
	<!-- tb_area table all fields -->
	<sql id="Base_Column_List" >
		 id,create_time,create_user,update_time,update_user,area_code,area_name,level,pid,haschild
	</sql>
	   
	   
	<!-- 查询条件 -->
	<sql id="where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
		<if test="id != null" >
		    and id =  #{id}
		</if>
		<if test="create_time != null" >
		    and create_time =  #{create_time}
		</if>
		 	<if test="create_user != null and create_user != ''" >
		    and create_user =  #{create_user}
		</if>
		<if test="update_time != null" >
		    and update_time =  #{update_time}
		</if>
		 	<if test="update_user != null and update_user != ''" >
		    and update_user =  #{update_user}
		</if>
		 	<if test="area_code != null and area_code != ''" >
		    and area_code =  #{area_code}
		</if>
		 	<if test="area_name != null and area_name != ''" >
		    and area_name =  #{area_name}
		</if>
		<if test="level != null" >
		    and level =  #{level}
		</if>
		<if test="pid != null" >
		    and pid =  #{pid}
		</if>
		<if test="haschild != null" >
		    and haschild =  #{haschild}
		</if>
	</trim>
	</sql>
	   
	
	<!-- 插入省市区管理表 -->
	<insert id="insert" parameterType="com.bt.lmis.model.Area"   useGeneratedKeys="true" keyProperty="id">
	  insert into tb_area(create_time,create_user,update_time,update_user,area_code,area_name,level,pid,haschild)
	 values(#{create_time},#{create_user},#{update_time},#{update_user},#{area_code},#{area_name},#{level},#{pid},#{haschild})
	</insert>
	
	<!-- 修改省市区管理表-->  
	 <update id="update" parameterType="com.bt.lmis.model.Area" >
	  update tb_area set create_time=#{create_time},create_user=#{create_user},update_time=#{update_time},update_user=#{update_user},area_code=#{area_code},area_name=#{area_name},level=#{level},pid=#{pid},haschild=#{haschild} where id=#{id}
	 </update>
	 
	 <!-- 选择修改省市区管理表-->
	<update id="updateBySelective" parameterType="com.bt.lmis.model.Area" >
		update tb_area set 
		<trim  suffixOverrides="," >
		<if test="create_time != null  ">
			create_time=#{create_time},
		</if>
		<if test="create_user != null  and create_user != '' ">
			create_user=#{create_user},
		</if>
		<if test="update_time != null  ">
			update_time=#{update_time},
		</if>
		<if test="update_user != null  and update_user != '' ">
			update_user=#{update_user},
		</if>
		<if test="area_code != null  and area_code != '' ">
			area_code=#{area_code},
		</if>
		<if test="area_name != null  and area_name != '' ">
			area_name=#{area_name},
		</if>
		<if test="level != null  ">
			level=#{level},
		</if>
		<if test="pid != null  ">
			pid=#{pid},
		</if>
		<if test="haschild != null  ">
			haschild=#{haschild},
		</if>
		</trim> where id=#{id}
	</update>
	
	<!-- 删除省市区管理表 -->
	<update id="delete" parameterType="Object">
		delete 	 from tb_area where id = #{id}
	</update>
	<!-- 批量删除省市区管理表 -->
	<delete id="batchDelete" parameterType="Object">
		delete 	 from tb_area where id in 
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
	       	#{item}  
	   	</foreach> 
	</delete>
	 
	<!-- 依据主键查找省市区管理表 -->
	<select id="selectById"  resultMap="BaseResultMap" >
		select <include refid="Base_Column_List" /> 
		 from tb_area where id = #{id}
	</select>
	  	
	<!-- 省市区管理表 列表总数  为分页组件使用-->
	<select id="pageTotalRecord" resultType="java.lang.Long"  parameterType="com.bt.lmis.controller.form.AreaQueryParam">
		select count(1) from tb_area 
		<include refid="where_Clause"/>
	</select>
	  	
	<!-- 分页中的省市区管理表集合，为分页组件使用 -->
	<select id="pageData" resultMap="BaseResultMap"  parameterType="com.bt.lmis.controller.form.AreaQueryParam">
		select 
		<include refid="Base_Column_List"/>
		from tb_area 
		<include refid="where_Clause"/>
		<if test="orderCondition != null and orderCondition != ''" >
	      ${orderCondition}
	    </if>
	    ${queryCondition}
	</select>
	
	<!--依据条件统计 省市区管理表总数-->
	<select id="count" resultType="java.lang.Long"  parameterType="com.bt.lmis.controller.form.AreaQueryParam">
		select count(1) from tb_area 
		<include refid="where_Clause"/>
	</select>
	  	
	<!-- 满足条件的省市区管理表集合 -->
	<select id="findAll" resultMap="BaseResultMap"  parameterType="com.bt.lmis.controller.form.AreaQueryParam">
		select 
		<include refid="Base_Column_List"/>
		from tb_area 
		<include refid="where_Clause"/>
		<if test="orderCondition != null and orderCondition != ''" >
	     ${orderCondition}
	    </if>
	</select>
	                                       
	<select id='findChildren'   resultType="java.util.HashMap" parameterType='java.util.HashMap'>
	   select area_name as name, pid as pId ,'true' as checked, id as id from tb_area where 1=1
	   <if test="pid != null and pid != ''" >
	   and  pid=${pid};
	    </if>
	</select>
	
	<update id='updateTree' parameterType="com.bt.lmis.controller.form.AreaQueryParam">
	 update tb_area set 
	 	update_time= now(),
	 	update_user= #{update_user },
	 	area_code= #{area_code },
	 	area_name= #{area_name }
	 where id= #{id }
	</update>
	<select id='getChildLst' resultType="java.util.HashMap" parameterType="java.lang.Integer">
	select
	getChildLst(#{id}) as ids;
	</select>
	<select id='check_area' resultType="java.lang.Integer" parameterType="java.util.HashMap">
	select   check_area(#{privence_code},#{city_code},#{state_code});
	</select>  	
</mapper>   
