<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bt.lmis.dao.ItemTypeMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.bt.lmis.model.ItemType" >
	<result column="id" property="id"/>
	<result column="create_time" property="create_time"/>
	<result column="create_user" property="create_user"/>
	<result column="update_time" property="update_time"/>
	<result column="update_user" property="update_user"/>
	<result column="itemtype_code" property="itemtype_code"/>
	<result column="itemtype_name" property="itemtype_name"/>
</resultMap>
       
<!-- tb_item_type table all fields -->
<sql id="Base_Column_List" >
	 id,create_time,create_user,update_time,update_user,itemtype_code,itemtype_name
</sql>
   
   
<!-- 查询条件 -->
<sql id="where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="create_time != null" >
	    and create_time =  #{create_time}
	</if>
	 	<if test="create_user != null and create_user != ''" >
	    and create_user =  #{create_user}
	</if>
	<if test="update_time != null" >
	    and update_time =  #{update_time}
	</if>
	 	<if test="update_user != null and update_user != ''" >
	    and update_user =  #{update_user}
	</if>
	 	<if test="itemtype_code != null and itemtype_code != ''" >
	    and itemtype_code =  #{itemtype_code}
	</if>
	 	<if test="itemtype_name != null and itemtype_name != ''" >
	    and itemtype_name =  #{itemtype_name}
	</if>
</trim>
</sql>
   

<!-- 插入商品类型表 -->
<insert id="insert" parameterType="com.bt.lmis.model.ItemType" >
  insert into tb_item_type(id,create_time,create_user,update_time,update_user,itemtype_code,itemtype_name)
 values(#{id},#{create_time},#{create_user},#{update_time},#{update_user},#{itemtype_code},#{itemtype_name})
</insert>

<!-- 修改商品类型表-->  
 <update id="update" parameterType="com.bt.lmis.model.ItemType" >
  update tb_item_type set create_time=#{create_time},create_user=#{create_user},update_time=#{update_time},update_user=#{update_user},itemtype_code=#{itemtype_code},itemtype_name=#{itemtype_name} where id=#{id}
 </update>
 
 <!-- 选择修改商品类型表-->
<update id="updateBySelective" parameterType="com.bt.lmis.model.ItemType" >
	update tb_item_type set 
	<trim  suffixOverrides="," >
	<if test="create_time != null  ">
		create_time=#{create_time},
	</if>
	<if test="create_user != null  and create_user != '' ">
		create_user=#{create_user},
	</if>
	<if test="update_time != null  ">
		update_time=#{update_time},
	</if>
	<if test="update_user != null  and update_user != '' ">
		update_user=#{update_user},
	</if>
	<if test="itemtype_code != null  and itemtype_code != '' ">
		itemtype_code=#{itemtype_code},
	</if>
	<if test="itemtype_name != null  and itemtype_name != '' ">
		itemtype_name=#{itemtype_name},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除商品类型表 -->
<update id="delete" parameterType="Object">
	delete 	 from tb_item_type where id = #{id}
</update>
<!-- 批量删除商品类型表 -->
<delete id="batchDelete" parameterType="Object">
	delete 	 from tb_item_type where id in 
	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
       	#{item}  
   	</foreach> 
</delete>
 
<!-- 依据主键查找商品类型表 -->
<select id="selectById"  resultMap="BaseResultMap" >
	select <include refid="Base_Column_List" /> 
	 from tb_item_type where id = #{id}
</select>
  	
<!-- 商品类型表 列表总数  为分页组件使用-->
<select id="pageTotalRecord" resultType="java.lang.Long"  parameterType="com.bt.lmis.controller.form.ItemTypeQueryParam">
	select count(1) from tb_item_type 
	<include refid="where_Clause"/>
</select>
  	
<!-- 分页中的商品类型表集合，为分页组件使用 -->
<select id="pageData" resultMap="BaseResultMap"  parameterType="com.bt.lmis.controller.form.ItemTypeQueryParam">
	select 
	<include refid="Base_Column_List"/>
	from tb_item_type 
	<include refid="where_Clause"/>
	<if test="orderCondition != null and orderCondition != ''" >
      ${orderCondition}
    </if>
    ${queryCondition}
</select>


<!--依据条件统计 商品类型表总数-->
<select id="count" resultType="java.lang.Long"  parameterType="com.bt.lmis.controller.form.ItemTypeQueryParam">
	select count(1) from tb_item_type 
	<include refid="where_Clause"/>
</select>
  	
<!-- 满足条件的商品类型表集合 -->
<select id="findAll" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List"/>
	from tb_item_type 
</select>
  	
</mapper>   
