<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="salesReportExportAction" class="com.jumbo.web.action.report.SalesReportExportAction"
		scope="request" />
	<bean id="reportTimInventoryExportAction"
		class="com.jumbo.web.action.report.ReportTimInventoryExportAction"
		scope="request" />
	<bean id="reportLvsInventoryLogAction" class="com.jumbo.web.action.report.ReportLvsInventoryLogAction"
		scope="request" />
	<bean id="reportLvsRaExportAction" class="com.jumbo.web.action.report.ReportLvsRaExportAction"
		scope="request" />
	<bean id="salesReportAction" class="com.jumbo.web.action.report.SalesReportAction"
		scope="request" />
	<bean id="reportLevisCurrentInventoryExportAction"
		class="com.jumbo.web.action.report.ReportLevisCurrentInventoryExportAction"
		scope="request" />
	<bean id="orderStatusReportAction"
		class="com.jumbo.web.action.report.OrderStatusReportAction"
		scope="request" />

</beans>