<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="loginAction" class="com.jumbo.web.action.LoginAction" scope="request" />
	<bean id="logoutAction" class="com.jumbo.web.action.LogoutAction" scope="request" />
	<bean id="mainAction" class="com.jumbo.web.action.MainAction" scope="request" />
	<bean id="menuAction" class="com.jumbo.web.action.MenuAction" scope="request" />
	<bean id="chooseOptionAction" class="com.jumbo.web.action.ChooseOptionAction" scope="request" />
	<bean id="dropdownListAction" class="com.jumbo.web.action.DropdownListAction" scope="request" />


	<import resource="spring-action-authorization.xml" />
	<import resource="spring-action-system.xml" />
	<import resource="spring-action-baseinfo.xml" />
	<import resource="spring-action-warehouse.xml" />
	<import resource="spring-action-report.xml" />
	<import resource="spring-action-operationcenter.xml" />
	<import resource="spring-action-ooc.xml" />
	<import resource="spring-action-ocp.xml" />
	<import resource="spring-action-automaticEquipment.xml" />
	
</beans>