<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lmis.setup.constantSql.dao.SetupConstantSqlMapper">
	<resultMap type="com.lmis.framework.baseModel.PersistentObject" id="PersistentObjectMap">
		<!-- 基类字段（必须存在） -->
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="BOOLEAN" />
		<result column="is_disabled" property="isDisabled" jdbcType="BOOLEAN" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="pwr_org" property="pwrOrg" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.lmis.setup.constantSql.model.SetupConstantSql" id="SetupConstantSqlMap" extends="PersistentObjectMap">
		<!-- 子类字段 -->
		<result column="sql_code" property="sqlCode" jdbcType="VARCHAR" />
		<result column="sql_name" property="sqlName" jdbcType="VARCHAR" />
		<result column="sql_remark" property="sqlRemark" jdbcType="VARCHAR" />
		<result column="default_value" property="defaultValue" jdbcType="VARCHAR" />
		<result column="is_empty" property="isEmpty" jdbcType="BOOLEAN" />
	</resultMap>
	<sql id="Base_Column_List">
		id,
		create_time,
		create_by,
		update_time,
		update_by,
		is_deleted,
		is_disabled,
		version,
		pwr_org,
		sql_code,
		sql_name,
		sql_remark,
		default_value,
		is_empty
	</sql>
	<sql id="Create_Column_List">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			create_time,
			create_by,
			update_time,
			update_by,
			is_deleted,
			is_disabled,
			version,
			pwr_org,
			sql_code,
			sql_name,
			sql_remark,
			default_value,
			is_empty
		</trim>
	</sql>
	<insert id="create" parameterType="com.lmis.setup.constantSql.model.SetupConstantSql">
		INSERT INTO setup_constant_sql
		<include refid="Create_Column_List"></include>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			UUID(),
			NOW(),
			#{createBy, jdbcType=VARCHAR},
			NOW(),
			#{createBy, jdbcType=VARCHAR},
			false,
			false,
			1,
			#{pwrOrg, jdbcType=VARCHAR},
			#{sqlCode, jdbcType=VARCHAR},
			#{sqlName, jdbcType=VARCHAR},
			#{sqlRemark, jdbcType=VARCHAR},
			#{defaultValue, jdbcType=VARCHAR},
			#{isEmpty, jdbcType=BOOLEAN}
		</trim>
	</insert>
	<insert id="createBatch" parameterType="java.util.List">
		INSERT INTO setup_constant_sql
		<include refid="Create_Column_List"></include>
		VALUES
		<foreach collection="list" item="obj" index="index" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				UUID(),
				NOW(),
				#{obj.createBy, jdbcType=VARCHAR},
				NOW(),
				#{obj.createBy, jdbcType=VARCHAR},
				false,
				false,
				1,
				#{obj.pwrOrg, jdbcType=VARCHAR},
				#{obj.sqlCode, jdbcType=VARCHAR},
				#{obj.sqlName, jdbcType=VARCHAR},
				#{obj.sqlRemark, jdbcType=VARCHAR},
				#{obj.defaultValue, jdbcType=VARCHAR},
				#{obj.isEmpty, jdbcType=BOOLEAN}
			</trim>
		</foreach>
	</insert>
	<select id="retrieve" parameterType="com.lmis.setup.constantSql.model.SetupConstantSql" resultMap="SetupConstantSqlMap">
		SELECT <include refid="Base_Column_List" /> FROM setup_constant_sql
		<trim prefix="WHERE" prefixOverrides="AND|OR">
	        <if test="id!=null and id!=''">
	            id = #{id, jdbcType=VARCHAR}
	        </if>
	        <if test="createBy!=null and createBy!=''">
	        	AND create_by = #{createBy, jdbcType=VARCHAR}
	        </if>
	        <if test="updateBy!=null and updateBy!=''">
	        	AND update_by = #{updateBy, jdbcType=VARCHAR}
	        </if>
	        <if test="isDeleted!=null">
	            AND is_deleted = #{isDeleted, jdbcType=BOOLEAN}
	        </if>
	        <if test="isDisabled!=null">
	            AND is_disabled = #{isDisabled, jdbcType=BOOLEAN}
	        </if>
	        <if test="pwrOrg!=null and pwrOrg!=''">
	        	AND pwr_org = #{pwrOrg, jdbcType=VARCHAR}
	        </if>
	        <if test="sqlCode!=null and sqlCode!=''">
	            AND sql_code = #{sqlCode, jdbcType=VARCHAR}
	        </if>
	        <if test="sqlName!=null and sqlName!=''">
	            AND sql_name = #{sqlName, jdbcType=VARCHAR}
	        </if>	        
	        <if test="sqlRemark!=null and sqlRemark!=''">
	            AND sql_remark = #{sqlRemark, jdbcType=VARCHAR}
	        </if>
	        <if test="defaultValue!=null and defaultValue!=''">
	            AND default_value = #{defaultValue, jdbcType=VARCHAR}
	        </if>
	        <if test="isEmpty!=null and isEmpty!=''">
	            AND is_empty = #{isEmpty, jdbcType=BOOLEAN}
	        </if>
	    </trim>
	</select>
	<update id="update" parameterType="com.lmis.setup.constantSql.model.SetupConstantSql">
		UPDATE setup_constant_sql
		<trim prefix="SET" suffixOverrides=",">
			update_time = NOW(),
	        update_by = #{updateBy, jdbcType=VARCHAR},
	        <if test="isDeleted!=null">
	            is_deleted = #{isDeleted, jdbcType=BOOLEAN},
	        </if>
	        <if test="isDisabled!=null">
	            is_disabled = #{isDisabled, jdbcType=BOOLEAN},
	        </if>
	        <if test="version!=null">
        		version = version + 1,
        	</if>
	        <if test="sqlCode!=null and sqlCode!=''">
	            sql_code = #{sqlCode, jdbcType=VARCHAR},
	        </if>
	        <if test="sqlName!=null and sqlName!=''">
	            sql_name = #{sqlName, jdbcType=VARCHAR},
	        </if>	        
	        <if test="sqlRemark!=null and sqlRemark!=''">
	            sql_remark = #{sqlRemark, jdbcType=VARCHAR},
	        </if>
	        <if test="defaultValue!=null and defaultValue!=''">
	            default_value = #{defaultValue, jdbcType=VARCHAR},
	        </if>
	        <if test="isEmpty!=null and isEmpty!=''">
	            is_empty = #{isEmpty, jdbcType=BOOLEAN}
	        </if>
	    </trim>
	    <trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="version!=null">
		    	AND version = #{version, jdbcType=INTEGER}
		    </if>
		    <if test="sqlCode!=null and sqlCode!=''">
	            AND sql_code = #{sqlCode, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</update>
	<update id="updateRecord" parameterType="com.lmis.setup.constantSql.model.SetupConstantSql">
		UPDATE setup_constant_sql
		<trim prefix="SET" suffixOverrides=",">
			update_time = NOW(),
	        update_by = #{updateBy, jdbcType=VARCHAR},
	        <if test="version!=null">
        		version = version + 1,
        	</if>
            sql_code = #{sqlCode, jdbcType=VARCHAR},
            sql_name = #{sqlName, jdbcType=VARCHAR},
            sql_remark = #{sqlRemark, jdbcType=VARCHAR},
            default_value = #{defaultValue, jdbcType=VARCHAR},
            is_empty = #{isEmpty, jdbcType=BOOLEAN}
	    </trim>
	    <trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="version!=null">
		    	AND version = #{version, jdbcType=INTEGER}
		    </if>
		    <if test="sqlCode!=null and sqlCode!=''">
	            AND sql_code = #{sqlCode, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</update>
	<update id="logicalDelete" parameterType="com.lmis.setup.constantSql.model.SetupConstantSql">
		UPDATE setup_constant_sql
		<trim prefix="SET" suffixOverrides=",">
			update_time = NOW(),
	        update_by = #{updateBy, jdbcType=VARCHAR},
	        is_deleted = true,
	        <if test="version!=null">
	        	version = version + 1,
	        </if>
	    </trim>
	    <trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="version!=null">
		    	AND version = #{version, jdbcType=INTEGER}
		    </if>
		    <if test="sqlCode!=null and sqlCode!=''">
	            AND sql_code = #{sqlCode, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</update>
	<update id="shiftValidity" parameterType="com.lmis.setup.constantSql.model.SetupConstantSql">
		UPDATE setup_constant_sql
		<trim prefix="SET" suffixOverrides=",">
			update_time = NOW(),
	        update_by = #{updateBy, jdbcType=VARCHAR},
	        <if test="isDisabled != null">
	        	is_disabled = #{isDisabled, jdbcType=BOOLEAN},
	        </if>
	        <if test="version!=null">
	        	version = version + 1,
	        </if>
	    </trim>
	    <trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="version!=null">
		    	AND version = #{version, jdbcType=INTEGER}
		    </if>
		    <if test="sqlCode!=null and sqlCode!=''">
	            AND sql_code = #{sqlCode, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</update>
	<delete id="delete" parameterType="com.lmis.setup.constantSql.model.SetupConstantSql">
		DELETE FROM setup_constant_sql
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		    <if test="id!=null and id!=''">
		    	id = #{id, jdbcType=VARCHAR}
		    </if>
		    <if test="sqlCode!=null and sqlCode!=''">
	            AND sql_code = #{sqlCode, jdbcType=VARCHAR}
	        </if>
	    </trim>
	</delete>
</mapper>