<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bt.orderPlatform.dao.FtpFileNameMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.bt.orderPlatform.model.FtpFileName" >
	<result column="id" property="id"/>
	<result column="create_time" property="create_time"/>
	<result column="create_user" property="create_user"/>
	<result column="update_time" property="update_time"/>
	<result column="update_user" property="update_user"/>
	<result column="file_name" property="file_name"/>
</resultMap>
       
<!-- ftp_file_name table all fields -->
<sql id="Base_Column_List" >
	 id,create_time,create_user,update_time,update_user,file_name
</sql>
   
   
<!-- 查询条件 -->
<sql id="where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="create_time != null" >
	    and create_time =  #{create_time}
	</if>
	 	<if test="create_user != null and create_user != ''" >
	    and create_user =  #{create_user}
	</if>
	<if test="update_time != null" >
	    and update_time =  #{update_time}
	</if>
	 	<if test="update_user != null and update_user != ''" >
	    and update_user =  #{update_user}
	</if>
	 	<if test="file_name != null and file_name != ''" >
	    and file_name =  #{file_name}
	</if>
</trim>
</sql>
   

<!-- 插入测试临时表 -->
<insert id="insert" parameterType="com.bt.orderPlatform.model.FtpFileName" >
  insert into ftp_file_name(create_time,create_user,update_time,update_user,file_name)
 values(#{create_time},#{create_user},#{update_time},#{update_user},#{file_name})
</insert>

<!-- 修改测试临时表-->  
 <update id="update" parameterType="com.bt.orderPlatform.model.FtpFileName" >
  update ftp_file_name set create_time=#{create_time},create_user=#{create_user},update_time=#{update_time},update_user=#{update_user},file_name=#{file_name} where id=#{id}
 </update>
 
 <!-- 选择修改测试临时表-->
<update id="updateBySelective" parameterType="com.bt.orderPlatform.model.FtpFileName" >
	update ftp_file_name set 
	<trim  suffixOverrides="," >
	<if test="create_time != null  ">
		create_time=#{create_time},
	</if>
	<if test="create_user != null  and create_user != '' ">
		create_user=#{create_user},
	</if>
	<if test="update_time != null  ">
		update_time=#{update_time},
	</if>
	<if test="update_user != null  and update_user != '' ">
		update_user=#{update_user},
	</if>
	<if test="file_name != null  and file_name != '' ">
		file_name=#{file_name},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除测试临时表 -->
<update id="delete" parameterType="Object">
	delete 	 from ftp_file_name where id = #{id}
</update>
<!-- 批量删除测试临时表 -->
<delete id="batchDelete" parameterType="Object">
	delete 	 from ftp_file_name where id in 
	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
       	#{item}  
   	</foreach> 
</delete>
 
<select id="selectByfile_Name"  resultMap="BaseResultMap" >
	select <include refid="Base_Column_List" /> 
	 from ftp_file_name where file_name = #{file_name}
</select>


<!-- 依据主键查找测试临时表 -->
<select id="selectById"  resultMap="BaseResultMap" >
	select <include refid="Base_Column_List" /> 
	 from ftp_file_name where id = #{id}
</select>
  	
<!-- 测试临时表 列表总数  为分页组件使用-->
<select id="pageTotalRecord" resultType="java.lang.Long"  parameterType="com.bt.orderPlatform.controller.form.FtpFileNameQueryParam">
	select count(1) from ftp_file_name 
	<include refid="where_Clause"/>
</select>
  	
<!-- 分页中的测试临时表集合，为分页组件使用 -->
<select id="pageData" resultMap="BaseResultMap"  parameterType="com.bt.orderPlatform.controller.form.FtpFileNameQueryParam">
	select 
	<include refid="Base_Column_List"/>
	from ftp_file_name 
	<include refid="where_Clause"/>
	<if test="orderCondition != null and orderCondition != ''" >
      ${orderCondition}
    </if>
    ${queryCondition}
</select>


<!--依据条件统计 测试临时表总数-->
<select id="count" resultType="java.lang.Long"  parameterType="com.bt.orderPlatform.controller.form.FtpFileNameQueryParam">
	select count(1) from ftp_file_name 
	<include refid="where_Clause"/>
</select>
  	
<!-- 满足条件的测试临时表集合 -->
<select id="findAll" resultMap="BaseResultMap"  parameterType="com.bt.orderPlatform.controller.form.FtpFileNameQueryParam">
	select 
	<include refid="Base_Column_List"/>
	from ftp_file_name 
	<include refid="where_Clause"/>
	<if test="orderCondition != null and orderCondition != ''" >
     ${orderCondition}
    </if>
</select>

<select id="checkSign" resultType="java.util.HashMap" >
	select * from sys_load_sign
</select>
<delete id="deleteSign">
delete from sys_load_sign
</delete>
<insert id="insertSign">
insert into sys_load_sign(create_time) values(now())
</insert>
  	
</mapper>   
